html, body {
	height: 100%;
	width: 100%;
}

body {
	/* overflow-y: scroll; */
    -webkit-transform: translate3d(0, 0, 0);
    background: #ccffff;
}

.head {
	margin-bottom: 5%;
}

.loading {
	position: absolute;
	z-index: 9999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ccffff;
	
}
.loadingImg {
	margin: auto;
	position: relative;
}
.loadingImg-sm {
	margin: auto;
	position: relative;
	width: 33px;
}

.bg-danger {
	padding: 15px;
}

.error {
	color: red;
}

.margin-ten {
	margin-right: 10px;
}

.btn-group-overflow {
	vertical-align: top; 
	max-height: 300px;
	overflow-y: auto; 
	width: 200px;
}

.btn-map {
	width: 95%;
	height: 150px;
}

.container {
	min-width: 468px;
	margin-top: 2%;
}

/* hack for angular-ui bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; cursor: hand; }


.tooltip { 
	z-index: 9999; 
	max-width: 800px;
}

.tooltip-inner { 
	max-width: 800px;
}

.elem-metadata {
	display: block;
	margin-bottom: 10px;
}

.elem-header {
	display: block;
}

.elem-caption {
	display: inline-block;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	width: 200px;
}

.dropdown-menu > li > span {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.5em;
	white-space: nowrap;
	cursor: pointer;
	cursor: hand;
}

.dropdown-menu > li > span:hover, 
.dropdown-menu > li > span:focus,
.dropdown-menu > li > span.active {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

.modal-body {
	min-height: 400px;
}

button.dropdown-toggle {
	text-align: left;
	width: 300px;
}

.nav-tabs > li > a {
	font-size: 12px;
}

.sel-file {
	padding: 1px 5px;
	font-size: smaller;
	color: grey;
}

.progress {
	display: inline-block;
	width: 100px;	
	border: 3px groove #CCC;
	margin-bottom: 0;
}

.fileinfo {
	vertical-align: top;
	line-height: 20px;
}

.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
  	-ms-transform: translate(0, 0);
  	transform: translate(0, 0);
  	transition: opacity .15s linear;
}

.modal-header .close {
	font-size: 30px;
}


/** for all (max-width 480px) */
@media (max-width: 480px) {
	.container {
		max-width: 480px;
	}
	
	.loadingImg { 
		width: 40px;
		top: 70px;
	}
}


/** for devices (max-width 480px) */
@media (max-device-width: 480px) {
	.container {
		max-width: 468px;
	}
}

/* for all (width: 480px - 767px) */
@media (min-width: 481px) {
	.loadingImg { 
		width: 50px;
		top: 100px;
	}
}


/* for all (width: 768px - 991px) */
@media (min-width: 768px) {	
	.loadingImg { 
		width: 70px;
		top: 120px;
	}
}


/* for all (width: 992px - 1199px) */
@media (min-width: 992px) {
	.loadingImg { 
		width: 100px;
		top: 125px;
	}
	
	/* TODO this must be responsive */
  	.modal-lg {
    	width: 1050px;
  	}
}

}


/* for all (width: 1200px - 1599px) */
@media (min-width: 1200px) {
  	.container {
		max-width: 1178px;
  	}

	.loadingImg { 
		width: 150px;
		top: 150px;
	}
}


/* for all (width: 1600px - xx) */
@media (min-width: 1600px) {
	.container {
		max-width: 1578px;
	}
	
	.loadingImg { 
		width: 200px;
		top: 200px;
	}
}

