/** GENERAL/MAP */
html, body {
	height: 100%;
	width: 100%;
}

body {
	/* overflow-y: scroll; */
    -webkit-transform: translate3d(0, 0, 0);
    background: #ccffff;
}

.head {
	margin-bottom: 5%;
}

.brand-icon {
	width: 160px;
}

.container {
	min-width: 768px;
	margin-top: 2%;
}

.map-heading {
	font-size: 25px;
	margin-top: 10px; 
	display: inline-block;
}

.inline-heading {
	font-size: 25px;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

.btn-margin-left {
	margin-left: 10%;
}

.btn-map {
	width: 95%;
	height: 125px;
}

.btn-map img {
	width: 60px;
	height: 60px;
}

.filter-box {
	margin-top: 5px;
	margin-bottom: 5px;
}

.filter-box p {
	margin-bottom: 0;
	word-wrap: normal;
}

.map-badge {
	font-size: 14px;
}

.tool-heading {
	margin-top: 7px;
}

.map-spacer {
	height: 30px;
}

.modal-body {
	min-height: 400px;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
  	-ms-transform: translate(0, 0);
  	transform: translate(0, 0);
  	transition: opacity .15s linear;
}

.modal-header .close {
	font-size: 30px;
}

.btn.disabled, .btn[disabled] {
	opacity: .45;
}

#canvas {
	height: 0px;
	width: 0px;
	position: absolute;
}


/** GLYPHS */
.glyphicon-rotate {
	font-size: 20px;
   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-name: rotateThis;
   -moz-animation-duration: 2s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;
   -animation-name: rotateThis;
   -animation-duration: 2s;
   -animation-iteration-count: infinite;
   -animation-timing-function: linear;
}

/** keyframes for rotating symbols */
@keyframes rotateThis {
	from { transform: rotate( 0deg ); }
	to { transform: rotate( 360deg ); }
}

@-webkit-keyframes rotateThis {
	from { -webkit-transform: rotate( 0deg ); }
	to { -webkit-transform: rotate( 360deg ); }
}

@-moz-keyframes rotateThis {
	from { -moz-transform: rotate( 0deg ); }
	to { -moz-transform: rotate( 360deg ); }
}

.glyphicon-static {
	font-size: 20px;
}

.arrow-sign {
	font-size: 20px;
}

/* hack for angular-ui bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; cursor: hand; }

.error {
	color: red;
	margin-top: 15px;
	marhin-left: 15px;
}


/** LOADERS/STATUS */
.loading {
	position: absolute;
	z-index: 9999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ccffff;
	
}

.loadingImg {
	margin: auto;
	position: relative;
}

.loadingImg-sm {
	margin: auto;
	position: relative;
	width: 33px;
}


/** TOOLTIPS */
.tooltip { 
	z-index: 9999; 
	max-width: 800px;
}

.tooltip-inner { 
	max-width: 800px;
	text-align: left;
}

button.info-button {
	font-size: 22px; 
	margin-left: 3px; 
	border: none; 
	background: none;
}

button.info-button:focus {
	outline: 0;	
}


/** REGISTRY ELEMENTS */
.btn-group-overflow {
	vertical-align: top; 
	max-height: 300px;
	overflow-y: auto; 
	width: 200px;
}

.btn-group-filter {
	width: 120px;
	vertical-align: top;
}

.elem-metadata {
	display: block;
	margin-bottom: 10px;
}

.elem-header {
	display: block;
}

.elem-caption {
	display: inline-block;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	width: 200px;
}


/** METHODS ELEMENTS */
.resource-id-label {
	padding-top: 0;
}

.dropdown-menu > li > span {
	display: block;
	padding: 3px 10px;
	clear: both;
	font-weight: normal;
	line-height: 1.5em;
	white-space: nowrap;
	cursor: pointer;
	cursor: hand;
}

.dropdown-menu > li > span:hover, 
.dropdown-menu > li > span:focus,
.dropdown-menu > li > span.active {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

button.dropdown-toggle {
	text-align: left;
	width: 300px;
}


/** USERDATA ELEMENTS */
.nav-tabs > li > a {
	font-size: 12px;
	padding: 10px 10px;
}

.sel-file {
	padding: 1px 5px;
	font-size: smaller;
	color: grey;
}

.progress {
	display: inline-block;
	width: 100px;	
	border: 3px groove #CCC;
	margin-bottom: 0;
}

.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}

.file-info {
	vertical-align: top;
	line-height: 20px;
}


/** AUXILIARY */
.vertical-top {
	vertical-align: top;
}

.overflow-500 {
	max-height: 500px; 
	min-height: 250px;
	overflow-y: auto; 
	overflow-x: hidden;
}

.overflow-450 {
	max-height: 450px; 
	overflow-y: auto; 
	overflow-x: hidden;
}

.overflow-400 {
	max-height: 400px; 
	overflow-y: auto; 
	overflow-x: hidden;
	width: 90%; 
	margin-top: 15px;
}

.width-50 {
	width: 50%;
}

.width-30 {
	width: 30%;
}

.width-20 {
	width: 20%;
	display: inline-block;
}

.margin-r-5 {
	margin-right: 5px;
}

.margin-l-5 {
	margin-left: 5px;
}

.margin-t-5 {
	margin-top: 5px;
}

.margin-r-10 {
	margin-right: 10px;
}

.word-wrap {
	word-wrap: break-word;
}


/** for all (max-width 480px) */
@media (max-width: 480px) {
	.container {
		max-width: 480px;
	}
	
	.loadingImg { 
		width: 40px;
		top: 70px;
	}
}


/** for devices (max-width 480px) */
@media (max-device-width: 480px) {
	.container {
		max-width: 468px;
	}
}

/* for all (width: 480px - 767px) */
@media (min-width: 481px) {
	.loadingImg { 
		width: 50px;
		top: 100px;
	}
}


/* for all (width: 768px - 991px) */
@media (min-width: 768px) {	
	.loadingImg { 
		width: 70px;
		top: 120px;
	}
}


/* for all (width: 992px - 1199px) */
@media (min-width: 992px) {
	.loadingImg { 
		width: 100px;
		top: 125px;
	}
	
	.btn-map {
		height: 125px;
	}
	
	.btn-map img {
		width: 60px;
		height: 60px;
	}
	
	.map-heading, .inline-heading {
		font-size: 25px;
	}
	
	button.info-button {
		font-size: 22px;
		margin-left: 3px;
	}
	
	/* @TODO this must be responsive */
  	.modal-lg {
    	width: 992px;
  	}

}


/* for all (width: 1200px - 1599px) */
@media (min-width: 1200px) {
  	.container {
		max-width: 1178px;
  	}
  	
	.btn-map {
		height: 150px;
	}
	
	.btn-map img {
		width: 80px;
		height: 80px;
	}
	
	.map-heading, .inline-heading {
		font-size: 30px;
	}
	
	button.info-button {
		font-size: 25px;
		margin-left: 5px;
	}

	.loadingImg { 
		width: 150px;
		top: 150px;
	}
}


/* for all (width: 1600px - xx) */
@media (min-width: 1600px) {
	.container {
		max-width: 1578px;
	}
	
	.loadingImg { 
		width: 200px;
		top: 200px;
	}
}

