<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="PATH" value="/opt/local/bin/"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_BUILDER_ENABLED" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_BUILD_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/impex-portal/public/js/_all.ts&quot; type=&quot;1&quot;/&gt;&#10;&lt;item path=&quot;/impex-portal/public/js/app.ts&quot; type=&quot;1&quot;/&gt;&#10;&lt;item path=&quot;/impex-portal/public/js/config&quot; type=&quot;2&quot;/&gt;&#10;&lt;item path=&quot;/impex-portal/public/js/controllers&quot; type=&quot;2&quot;/&gt;&#10;&lt;item path=&quot;/impex-portal/public/js/directives&quot; type=&quot;2&quot;/&gt;&#10;&lt;item path=&quot;/impex-portal/public/js/models&quot; type=&quot;2&quot;/&gt;&#10;&lt;item path=&quot;/impex-portal/public/js/services&quot; type=&quot;2&quot;/&gt;&#10;&lt;/resources&gt;}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/opt/local/lib/node_modules/typescript/bin/tsc"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="full,incremental,auto,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="--out app.js _all.ts"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/impex-portal/public/js}"/>
</launchConfiguration>
