<table class="table table-striped">
	<thead>
		<tr>
			<th>NAME</th>
			<th>TYPE</th>
			<th>METHODS</th>
			<th>TREE</th>
			<th>LAST UPDATE/ERROR</th>
			<th>VALID</th>
			<th>ONLINE</th>
		</tr>
    </thead>
    <tbody>
		<tr ng-repeat="database in dbdirvm.config.databases">
			<td class="col-md-2">{{ database.name }}</td>
			<td class="col-md-2">{{ database.type }}</td>
			<td class="col-md-2">
				<span ng-repeat="method in database.methods">
					<a ng-href="{{ database.protocol[0]+'://'+database.dns[0]+method }}">{{ method }}</a><br/>
				</span>
			</td>
			<td class="col-md-2">
				<span ng-repeat="tree in database.tree">
					<a ng-href="{{ database.protocol[0]+'://'+database.dns[0]+tree }}">{{ tree }}</a><br/>
				</span>
			</td>
			<td class="col-md-2">
				<span>{{ dbdirvm.statusMap[database.id].lastUpdate }}</span>
				<span class="error" ng-if="dbdirvm.statusMap[database.id].lastError">{{ dbdirvm.statusMap[database.id].lastError }}</span>
			</td>
			<td class="col-md-1">
				<div ng-show="dbdirvm.statusMap[database.id]" class="alert status-alert" ng-class="{ 'alert-success': !dbdirvm.statusMap[database.id].isInvalid, 
					'alert-danger': dbdirvm.statusMap[database.id].isInvalid }"></div>
			</td>
			<td class="col-md-1">
				<div ng-show="dbdirvm.statusMap[database.id]" class="alert status-alert" ng-class="{ 'alert-success': !dbdirvm.statusMap[database.id].isNotFound, 
					'alert-danger': dbdirvm.statusMap[database.id].isNotFound }"></div>
			</td>
		</tr>
	</tbody>
</table>