<div class="row">
	<div class="col-sm-12">
		<div class="overflow-500" ng-repeat="operation in methdirvm.method.operations track by $index">
			<p><strong>{{ operation.summary }}:</strong>&nbsp;&nbsp;{{ operation.notes }}</p>
			<!-- @TODO here we add a directive if paramType == 'query' later -->
			<div ng-if="parameter.paramType == 'query'" class="row form-group" 
				ng-repeat="parameter in operation.parameters">	
				<span ng-switch="parameter.name">
					<label class="col-sm-3 control-label resource-id-label" ng-switch-when="id">
						Resource Id <br/><small>{{ parameter.description }}</small>
					</label>
					<label class="col-sm-3 control-label resource-id-label" ng-switch-when="cube_size">
						Cube Size <br/><sup>{{ parameter.description }}</sup>
					</label>
					<label class="col-sm-3 control-label resource-id-label" ng-switch-when="stop_cond_region">
						Stop Condition Region <br/><sup>{{ parameter.description }}</sup>
					</label>
					<label class="col-sm-3 control-label" ng-switch-default>
						{{ parameter.description }}
					</label>
				</span>
				<div class="col-sm-7">
				    <!-- string inputs -->
					<input type="text" class="form-control input-sm" 
						ng-if="(parameter['enum'] | isEmpty) && (parameter.type == 'string')" 
						ng-required="parameter.required" ng-model="methdirvm.request[parameter.name]"
						tooltip="Requires {{parameter.type}}"
						ng-change="methdirvm.updateRequest(parameter.name)">
					<!-- dateTime inputs -->
					<div class="dropdown" ng-if="parameter.type == 'dateTime'">
						<a class="dropdown-toggle" id="dropdown-datetime-{{$index}}" 
 							role="button" data-toggle="dropdown" data-target="#" href="#">
   							<div class="input-group width-50">
   								<input type="text" class="form-control input-sm" 
   									ng-required="parameter.required"
   									data-ng-model="methdirvm.request[parameter.name]" 
   									tooltip="Requires ISO-8601 {{parameter.type}}">
   								<span class="input-group-addon">
   									<i class="glyphicon glyphicon-calendar"></i>
   								</span>
   							</div>
 						</a>
 						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
   							<datetimepicker data-ng-model="methdirvm.request[parameter.name]" 
   							data-on-set-time="methdirvm.updateRequestDate(parameter.name)"
   							data-datetimepicker-config="{ dropdownSelector: '#dropdown-datetime-{{$index}}' }"/>
 						</ul>
					</div>
					<!-- duration inputs -->
					<input type="text" class="form-control input-sm width-30"
						ng-if="parameter.type == 'duration'" 
						ng-required="parameter.required" ng-model="methdirvm.request[parameter.name]"
						tooltip="Requires ISO-8601 {{parameter.type}}"
						ng-change="methdirvm.updateRequest(parameter.name)">
					<!-- number inputs type="number" creates problems -->
					<input type="text" class="form-control input-sm width-30"
						ng-if="(parameter.type == 'double') || (parameter.type == 'integer') 
							|| (parameter.type == 'number')" 
						ng-required="parameter.required" ng-model="methdirvm.request[parameter.name]"
						tooltip="Requires {{parameter.type}}"
						ng-change="methdirvm.updateRequest(parameter.name)">
					<!-- enum inputs -->
				    <select class="form-control input-sm width-50"
				    	ng-if="!(parameter['enum'] | isEmpty)"
				    	ng-options="opt for opt in parameter['enum']" ng-required="parameter.required"
				   		ng-change="methdirvm.updateRequest(parameter.name)" ng-model="methdirvm.request[parameter.name]">
				   	</select>
				   	<!-- list inputs -->
					<input type="text" class="form-control input-sm width-50"
						ng-if="(parameter.type.indexOf('list') != -1)" 
						ng-required="parameter.required" ng-model="methdirvm.request[parameter.name]"
						tooltip="Requires comma-separated {{parameter.type}}"
						ng-change="methdirvm.updateRequest(parameter.name)">
				</div>
				<label class="col-sm-1 control-label">
					<div class="text-left" ng-if="parameter.required">required</div>
					<div class="text-left" ng-if="!parameter.required">optional</div>
				</label>
			</div>
			<!-- @TODO here we add a directive if paramType == 'body' later (only getVOTableUrl atm) -->
			<div ng-if="parameter.paramType == 'body'" ng-repeat="parameter in operation.parameters" >
				<div class="row form-group">	
					<label class="col-sm-3 control-label">Table Name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control input-sm" 
							ng-required="true" 
							ng-model="methdirvm.request['Table_name']"
							ng-change="methdirvm.updateRequest('Table_name')">
					</div>
					<label class="col-sm-1 control-label">required</label>
				</div>
				<div class="row form-group">
					<label class="col-sm-3 control-label">Description</label>
					<div class="col-sm-7">
						<input type="text" class="form-control input-sm" 
							ng-required="true" 
							ng-model="methdirvm.request['Description']"
							ng-change="methdirvm.updateRequest('Description')">
					</div>
					<label class="col-sm-1 control-label">required</label>
				</div>
				<div class="row form-group">
					<label class="col-sm-3 control-label">Columns</label>
					<div class="col-sm-7">
						<input type="number" class="form-control input-sm width-20" min="1"
							ng-change="methdirvm.refreshVotableHeader()"
							ng-model="methdirvm.votableColumns" 
							ng-disabled="methdirvm.votableColumns > 0">
						<button type="button" class="btn btn-success btn-sm" 
							ng-click="methdirvm.addVotableRow()"
							ng-disabled="methdirvm.votableColumns == null">Add Row</button>
						<button type="button" class="btn btn-success btn-sm" 
							ng-click="methdirvm.addVotableColumn()"
							ng-disabled="methdirvm.votableColumns == null">Add Column</button>
					 	<button type="button" class="btn btn-danger btn-sm" 
							ng-click="methdirvm.resetVotable()">Reset Table</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1" style="overflow-x: auto;">
						<table class="table table-striped">
							<thead><tr>
								<th class="text-center" ng-repeat="meta in methdirvm.votableMetadata track by $index">
									<select class="form-control input-sm"
										ng-options="key.name for key in meta" ng-model="methdirvm.selected[$index]">
				    					<option value="">-- edit metadata --</option>
				   					</select>
				   					<input type="text" class="form-control input-sm margin-t-5" 
				   						ng-change="methdirvm.updateVotableHeader($index)"
				   						ng-model="methdirvm.selected[$index].value" 
				   						ng-disabled="methdirvm.selected[$index] == null">
								</th>
								<th style="width: 100px;">&nbsp;</th>
							</tr></thead>
							<tbody><tr ng-repeat="(rowKey, row) in methdirvm.votableRows track by rowKey">
								<td class="text-center" ng-repeat="(colKey, col) in row track by colKey">
									<input type="text" class="form-control input-sm"
										value="{{ col }}" ng-model="methdirvm.votableRows[rowKey][colKey]">
								</td>
								<td class="text-center">
									<button type="button" class="btn btn-danger btn-sm" 
										ng-click="methdirvm.deleteVotableRow($index)"
										ng-disabled="!methdirvm.votableColumns">Delete Row</button>
								</td>
							</tr></tbody>
							<tfoot ng-if="methdirvm.votableRows.length > 0"><tr>
								<td class="text-center" ng-repeat="col in methdirvm.votableRows[0] track by $index">
									<button type="button" class="btn btn-danger btn-sm" 
										ng-click="methdirvm.deleteVotableColumn($index)">Delete Column</button>
								</td>
								<td>&nbsp;</td>
							</tr></tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>