<accordion close-others="regvm.oneAtATime">
  <div ng-repeat="database in vm.config.databases" style="margin-bottom: 5px;">
  	<accordion-group ng-if="database.type == 'simulation'">
  		<accordion-heading>
  			<span ng-click="vm.getRepository(database.id)">{{ database.name }} Simulations</span>
  		</accordion-heading>
  		<div ng-show="vm.initialising && vm.transFinished" class="text-left">
			<img src="/public/img/layout/loading.gif" class="loadingImg-sm" alt="loading..." />
		</div>
  		<accordion close-others="regvm.oneAtATime">
  			<accordion-group ng-repeat="element in regvm.repositories">
  				<accordion-heading>
  					<span ng-click="vm.getSimulationModel(element.resourceId)">
  						{{ element.resourceHeader.resourceName }}
  					</span>
  				</accordion-heading>
  				<div class="btn-group-vertical" style="vertical-align: top;">		
					<button class="btn btn-default" 
					ng-repeat="element in regvm.simulationModels" 
					ng-click="vm.getSimulationRun(element.resourceId, element, $event)" 
					ng-class="{active: regvm.isActive('model', element)}">
						{{ element.resourceHeader.resourceName }}
					</button>
				</div> 
				<div class="btn-group-vertical btn-group-overflow">	
					<button class="btn btn-default margin-ten" 
					ng-repeat="element in regvm.simulationRuns" 
					ng-click="vm.getNumericalOutput(element.resourceId, element, $event)" 
					ng-class="{active: regvm.isActive('run', element)}">
						{{ element.resourceHeader.resourceName.replace("FMI_HYB_", "") }}
					</button>
				</div>
				<div class="btn-group-vertical btn-group-overflow">	
					<button class="btn btn-default margin-ten" 
					ng-repeat="element in regvm.numericalOutputs" 
					ng-click="vm.getGranule(element.resourceId, element, $event)" 
					ng-class="{active: regvm.isActive('output', element)}">
						{{ element.resourceHeader.resourceName.replace("FMI_HYB_", "") }}
					</button>
				</div>
				<div class="btn-group-vertical btn-group-overflow">		
					<button class="btn btn-default margin-ten" 
					ng-repeat="element in regvm.granules"
					ng-class="{active: regvm.isActive('granule', element)}">
						{{ element.resourceId.split('/').reverse()[0] }}
					</button>
				</div>
				<div class="btn-group-vertical">		
					<div ng-show="vm.loading && vm.transFinished" class="text-right">
						<img src="/public/img/layout/loading.gif" class="loadingImg-sm" alt="loading..." />
					</div>
				</div>
				<span class="error" ng-show="regvm.error">{{ regvm.errorMessage }}</span>
  			</accordion-group>
  		</accordion>
  	</accordion-group>
  </div>
</accordion>