<accordion close-others="regdirvm.oneAtATime" ng-show="!regvm.initialising">
	<accordion-group ng-repeat="element in regdirvm.repositories" is-open="regvm.isFirstOpen">
		<accordion-heading>
			<span ng-click="regvm.getSimulationModel(element.resourceId)" tooltip="Click for more details">
  				{{ regdirvm.format(element.resourceHeader.resourceName) }}
  			</span>
  		</accordion-heading>
  		<div class="elem-metadata">
  			<strong>Release Date:</strong> 
  			{{ element.resourceHeader.releaseDate }} &nbsp;&nbsp;&nbsp;&nbsp;
  			<strong ng-hide="element.resourceHeader.description | isEmpty">Description:</strong> 
  			{{ element.resourceHeader.description }}
  		</div>
  		<div class="elem-header">
  			<span class="elem-caption" ng-hide="regdirvm.simulationModels | isEmpty">
  				Simulation Models ({{ regdirvm.simulationModels.length }})
  			</span>	
  			<span class="elem-caption" ng-hide="regdirvm.simulationRuns | isEmpty">
  				Simulation Runs ({{ regdirvm.simulationRuns.length }})
  			</span>
	    	<span class="elem-caption" ng-hide="regdirvm.numericalOutputs | isEmpty">
	    		Numerical Outputs ({{ regdirvm.numericalOutputs.length }})
	    	</span>
	    	<span class="elem-caption" ng-hide="regdirvm.granules | isEmpty">
	    		Granules ({{ regdirvm.granules.length }})
	    	</span>
	    </div>
  		<div class="btn-group-vertical btn-group-overflow" ng-hide="regdirvm.simulationModels | isEmpty">
			<button type="button" class="btn btn-default btn-sm" 
				ng-repeat="element in regdirvm.simulationModels" 
				ng-click="regvm.getSimulationRun(element)" 
				ng-class="{ active: regdirvm.isActive('SimulationModel', element) }"
				tooltip-html-unsafe="{{ element.resourceHeader.resourceName }}<br/>
					{{ element.resourceHeader.releaseDate }}">
					{{ regdirvm.trim(element.resourceHeader.resourceName) }}
			</button>
		</div> 
		<div class="btn-group-vertical btn-group-overflow" ng-hide="regdirvm.simulationRuns | isEmpty">		
			<button type="button" class="btn btn-default btn-sm margin-ten" 
				ng-repeat="element in regdirvm.simulationRuns" 
				ng-click="regvm.getNumericalOutput(element)" 
				ng-class="{ active: regdirvm.isActive('SimulationRun', element) }"
				tooltip-html-unsafe="{{ element.resourceHeader.resourceName }}<br/>
					{{ element.resourceHeader.releaseDate }}">
					{{ regdirvm.trim(element.resourceHeader.resourceName) }}
			</button>
		</div>
		<div class="btn-group-vertical btn-group-overflow" ng-hide="regdirvm.numericalOutputs | isEmpty">	
			<button type="button" class="btn btn-default btn-sm margin-ten" 
				ng-repeat="element in regdirvm.numericalOutputs" 
				ng-click="regvm.getGranule(element)" 
				ng-class="{ active: regdirvm.isActive('NumericalOutput', element) }"
				tooltip-html-unsafe="{{ element.resourceHeader.resourceName }}<br/>
					{{ element.resourceHeader.releaseDate }}">
					{{ regdirvm.trim(element.resourceHeader.resourceName) }}				
			</button>
		</div>
		<div class="btn-group-vertical btn-group-overflow" ng-hide="regdirvm.granules | isEmpty">		
			<button type="button" class="btn btn-default btn-sm margin-ten" 
				ng-repeat="element in regdirvm.granules"
				ng-class="{ active: regdirvm.isActive('Granule', element) }"
				ng-click="regdirvm.setActive('Granule', element)"
				tooltip-html-unsafe="{{ element.releaseDate }}<br/>{{ element.resourceId }}">
					{{ regdirvm.trim(element.resourceId) }}
			</button> 
		</div>
		<div class="btn-group-vertical" style="vertical-align: top;">
			<div style="margin-left: 15px;" ng-if="regvm.loading" >
				<img src="/public/img/layout/loading.gif" class="loadingImg-sm" alt="loading..." />
			</div>
			<!-- div class="error" style="margin-top: 15px; margin-left: 15px;" ng-if="regdirvm.showError">{{ regdirvm.status }}</div-->
		</div>
	</accordion-group>
</accordion>