<accordion close-others="vm.oneAtATime">
  <div ng-repeat="database in vm.config.databases">
  	<accordion-group ng-if="database.type == 'simulation'">
  		<accordion-heading>
  			<span ng-click="vm.getRepository(database.id)">{{database.name}} Simulations</span>
  		</accordion-heading>
  		<div ng-show="vm.loading && vm.transFinished" class="text-center">
			<img src="/public/img/layout/loading.gif" class="loadingImg-sm" alt="loading..." />
		</div>
    	<div ng-show="!vm.loading && vm.transFinished">
    		<div class="btn-group-vertical">
    			<!-- @TODO we may add an active class here later -->
				<button class="btn btn-default" ng-repeat="element in vm.registryService.repositories">
					<!--  @FIXME we need to use the database id, because there are still issues with the repository elements -->
					<span ng-click="vm.getSimulationModel(database.id)">{{element.resourceHeader.resourceName}}</span>
				</button>
			</div>
			<div class="btn-group-vertical">		
				<button class="btn btn-default" ng-repeat="element in vm.registryService.simulationModels">
					<span ng-click="vm.getSimulationRun(element.resourceId)">{{element.resourceHeader.resourceName}}</span>
				</button>
			</div>
			<!-- @FIXME put styles in CSS --> 
			<div class="btn-group-vertical" style="max-height: 450px; overflow: auto;">	
				<button class="btn btn-default" ng-repeat="element in vm.registryService.simulationRuns" style="margin-right: 10px;">
					{{element.resourceHeader.resourceName}}
				</button>
			</div>
    	</div>
  	</accordion-group>
  	<!--  accordion-group heading="{{database.name}} Observations" ng-if="database.type == 'observation'" ng-click="vm.doSomething()">
    	ID: {{database.id}}
    	Missons: <br/>
  	</accordion-group-->
  </div>
</accordion>