<div class="row">
	<div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<tabset>
		<tab heading="Service Results">
		<div class="btn-group-vertical" style="max-height: 450px; overflow-y: auto; width: 90%; margin-top: 20px;" 
			ng-hide="userdirvm.user.results | isEmpty">
			<button type="button" class="btn btn-success btn-sm" 
				ng-repeat="res in userdirvm.user.results | filter:{ repositoryId:userdirvm.repositoryId }"
			    ng-class="{ active: !userdirvm.isCollapsed[res.id] }"
				ng-click="userdirvm.toggleResultDetails(res.id)">
					Service Result {{ res.id }}<br/>
					{{ res.method.replace('/methods', '') }}
			</button>
		</div>
		</tab>
		<tab heading="Tree Selections">
		<div class="btn-group-vertical" style="max-height: 450px; overflow-y: auto; width: 90%; margin-top: 20px;" 
			ng-hide="userdirvm.user.selections | isEmpty">
			<button type="button" class="btn btn-success btn-sm" 
				ng-repeat="sel in userdirvm.user.selections | filter:{ repositoryId:userdirvm.repositoryId }"
			    ng-class="{ active: !userdirvm.isCollapsed[sel.id] }"
				ng-click="userdirvm.toggleSelectionDetails(sel.id)">
					Tree Selection {{ sel.id }}<br/>
					{{ sel.type }}
			</button>
		</div>
		</tab>
		<!--  tab heading="VOTables">
		</tab-->
		</tabset>
	</div>
	<div class="col-sm-8">
		<div ng-repeat="res in userdirvm.user.results | filter:{ repositoryId:userdirvm.repositoryId }" 
			ng-hide="userdirvm.isCollapsed[res.id]">
			<div class="well well-sm" style="max-height: 450px; overflow-y: auto;">
				<button type="button" class="btn btn-danger btn-sm" 
					style="float: right;" ng-click="userdirvm.deleteResult(res.id)">
					Delete
				</button>
				<h4>Service Result {{ res.id }}: {{ res.method.replace('/methods', '') }}</h4>
				<p style="word-wrap: break-word;">
					<selection-dir selection="res"></selection-dir>
				</p>
			</div>
		</div>
		<div ng-repeat="sel in userdirvm.currentSelection" ng-hide="userdirvm.isCollapsed[sel.id]">
			<div class="well well-sm" style="max-height: 450px; overflow-y: auto;">
				<div style="float: right">
					<button type="button" class="btn btn-danger btn-sm" 
						style="margin-right: 5px;" ng-click="userdirvm.deleteSelection(sel.id)">Delete</button>
					<button type="button" class="btn btn-primary btn-sm"
						ng-if="userdirvm.isApplyable" ng-click="methvm.applySelection(sel.elem.resourceId)">Apply</button>
				</div>
				<h4>Tree Selection {{ sel.id }}: {{ sel.type }}</h4>
				<p style="word-wrap: break-word;">
					<selection-dir selection="sel.elem"></selection-dir>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">&nbsp;</div>
</div>