<div class="row">
	<div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="btn-group-vertical btn-group-overflow" ng-hide="userdirvm.user.results | isEmpty">
			<button type="button" class="btn btn-success btn-sm" 
				ng-repeat="(key, elem) in userdirvm.user.results"
			    ng-class="{ active: !userdirvm.isCollapsed[key] }"
				ng-click="userdirvm.toggleResultDetails(key)">
					Service Result {{ key }}
			</button>
		</div>
	</div>
	<div class="col-sm-8">
		<div ng-repeat="(key, elem) in userdirvm.user.results" collapse="userdirvm.isCollapsed[key]">
			<div class="well well-sm">
				<h4>Service Result {{ key }}</h4>
				<p style="word-wrap: break-word;">
					<selection-dir selection="elem"></selection-dir>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="btn-group-vertical" style="max-height: 450px; overflow-y: auto; width: 200px;" ng-hide="userdirvm.user.selections | isEmpty">
			<button type="button" class="btn btn-success btn-sm" 
				ng-repeat="sel in userdirvm.user.selections"
			    ng-class="{ active: !userdirvm.isCollapsed[sel.id] }"
				ng-click="userdirvm.toggleSelectionDetails(sel.id)">
					Tree Selection {{ sel.id }}<br/>
					{{ sel.type }}
			</button>
		</div>
	</div>
	<div class="col-sm-8">
		<!-- we should not fill the info unless a selection is clicked / we close all when modal closes -->
		<div ng-repeat="sel in userdirvm.currentSelection" collapse="userdirvm.isCollapsed[sel.id]">
			<div class="well well-sm" style="max-height: 450px; overflow-y: auto;">
				<h4>Tree Selection {{ sel.id }}: {{ sel.type }}</h4>
				<p style="word-wrap: break-word;">
					<selection-dir selection="sel.elem"></selection-dir>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="btn-group-vertical">
			<div ng-show="userdirvm.loading">
				<img src="/public/img/throbber.gif" alt="loading..."/>
			</div>
			<div class="error" ng-show="userdirvm.showError">{{ userdirvm.status }}</div>
		</div>
	</div>
</div>