<div class="row">
	<div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<tabset>
		<tab heading="Tree Selections"
			ng-hide="userdirvm.user.selections | filter:{ repositoryId:userdirvm.repositoryId } | isEmpty" 
			active="userdirvm.tabsActive[0]">
		<div class="btn-group-vertical" style="max-height: 450px; overflow-y: auto; width: 90%; margin-top: 20px;">
			<button type="button" class="btn btn-sm btn-success" 
				ng-repeat="sel in userdirvm.user.selections | filter:{ repositoryId:userdirvm.repositoryId }"
			    ng-class="{ active: !userdirvm.isCollapsed[sel.id]}"
				ng-click="userdirvm.toggleSelectionDetails(sel.id)">
				{{ sel.type }}<br/>{{ sel.repositoryId }}
			</button>
		</div>
		</tab>
		<tab heading="VOTables" ng-if="userdirvm.state.current.name != 'app.portal.registry'"
			ng-hide="userdirvm.user.voTables | isEmpty" active="userdirvm.tabsActive[1]">
		<div class="btn-group-vertical" style="max-height: 450px; overflow-y: auto; width: 90%; margin-top: 20px;">
			<button type="button" class="btn btn-success btn-sm" 
				ng-repeat="vot in userdirvm.user.voTables"
			    ng-class="{ active: !userdirvm.isCollapsed[vot.id] }"
				ng-click="userdirvm.toggleDetails(vot.id)">{{ vot.name }}</button>
		</div>
		</tab>
		<tab heading="Service Results" 
			ng-hide="userdirvm.user.results | filter:{ repositoryId:userdirvm.repositoryId } | isEmpty" 
			active="userdirvm.tabsActive[2]">
		<div class="btn-group-vertical" style="max-height: 450px; overflow-y: auto; width: 90%; margin-top: 20px;">
			<button type="button" class="btn btn-success btn-sm" 
				ng-repeat="res in userdirvm.user.results | filter:{ repositoryId:userdirvm.repositoryId }"
			    ng-class="{ active: !userdirvm.isCollapsed[res.id] }"
				ng-click="userdirvm.toggleDetails(res.id)">
				{{ res.method.split('/').reverse()[0] }}<br/>{{ res.repositoryId }}
			</button>
		</div>
		</tab>
		</tabset>
	</div>
	<div class="col-sm-8">
		<div ng-repeat="sel in userdirvm.user.activeSelection" ng-hide="userdirvm.isCollapsed[sel.id]">
			<div class="well well-sm" style="max-height: 450px; overflow-y: auto;">
				<div style="float: right;">
					<button type="button" class="btn btn-success btn-sm" 
						style="margin-right: 5px;"
						ng-if="userdirvm.isSelectable(sel.type) == true && userdirvm.isSelSaved(sel.id) == false" 
						ng-click="userdirvm.saveSelection(sel.type, sel.elem)">Select</button>
					<button type="button" class="btn btn-danger btn-sm" 
						ng-if="userdirvm.isSelSaved(sel.id) == true"
						style="margin-right: 5px;" ng-click="userdirvm.deleteSelection(sel.id)">Delete</button>
					<button type="button" class="btn btn-primary btn-sm"
						ng-if="userdirvm.isSelApplyable" 
						ng-click="methvm.applySelection(sel.elem.resourceId)">Apply</button>
				</div>
				<h4>Tree Selection {{ sel.id }}: {{ sel.type }}</h4>
				<p style="word-wrap: break-word;">
					<a target="_blank" ng-href="/registry/{{sel.type.toLowerCase()}}?id={{sel.elem.resourceId|encodeUri}}">Download XML</a><br/>
					<a target="_blank" ng-href="/registry/{{sel.type.toLowerCase()}}?id={{sel.elem.resourceId|encodeUri}}&r=true">Download recursive XML</a>
					<selection-dir selection="sel.elem"></selection-dir>
				</p>
			</div>
		</div>
		<div ng-repeat="vot in userdirvm.user.voTables" ng-hide="userdirvm.isCollapsed[vot.id]">
			<div class="well well-sm" style="max-height: 450px; overflow-y: auto;">
				<div style="float: right;">
					<button type="button" class="btn btn-danger btn-sm" 
						style="margin-right: 5px;" ng-click="userdirvm.deleteVOTable(vot)">Delete</button>
					<button type="button" class="btn btn-primary btn-sm"
						ng-if="userdirvm.isVOTApplyable" 
						ng-click="methvm.applyVOTable(vot.url)">Apply</button>
				</div>
				<h4>VOTable {{ vot.id }}</h4>
				<p style="word-wrap: break-word;">
					<selection-dir selection="vot"></selection-dir>
				</p>
			</div>
		</div>
		<div ng-repeat="res in userdirvm.user.results | filter:{ repositoryId:userdirvm.repositoryId }" 
			ng-hide="userdirvm.isCollapsed[res.id]">
			<div class="well well-sm" style="max-height: 450px; overflow-y: auto;">
				<button type="button" class="btn btn-danger btn-sm" 
					style="float: right;" ng-click="userdirvm.deleteResult(res.id)">Delete</button>
				<h4>Service Result {{ res.id }}: {{ res.method.replace('/methods', '') }}</h4>
				<p style="word-wrap: break-word;">
					<selection-dir selection="res"></selection-dir>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">&nbsp;</div>
</div>