<form class="form-horizontal" role="form" ng-submit="methvm.submitMethod()">
<div class="modal-header">
	<h3 class="modal-title">{{ methvm.database.name }} Data Access</h3>
</div>
<div class="modal-body">
	<div class="btn-group" dropdown is-open="methvm.dropdownStatus.isopen">
		<button type="button" class="btn btn-primary dropdown-toggle">
        	{{ methvm.dropdownStatus.active }} <span class="caret"></span>
      	</button>
      	<ul class="dropdown-menu" role="menu">
        	<li ng-repeat="method in methvm.methods">
        		<span ng-click="methvm.setActive(method)" 
        			  ng-class="{ active: methvm.isActive(method.path) }">
        			{{ methvm.trimPath(method.path) }}
        		</span>
        	</li>
      	</ul>
	</div>
    <div class="row text-center">
		<div ng-show="methvm.showError" class="col-sm-12">
			<p>an error occurred while retrieving data: {{ methvm.status }} </p>
			<p>please try again:</p>
			<button ng-click="methvm.retry()" class="btn"><h4>retry</h4></button>
		</div>
		<div ng-show="!methvm.showError" class="col-sm-12">&nbsp;</div>
		<div ng-show="methvm.initialising" class="col-sm-12">
			<img src="/public/img/layout/loading.gif" class="loadingImg-sm" alt="loading..." />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<!-- maybe use a directive with attributes here => currentMethod -->
			<div ng-repeat="operation in methvm.currentMethod.operations">
				<p><strong>{{ operation.summary }}:</strong>&nbsp;&nbsp;{{ operation.notes }}</p>
					<div class="form-group" ng-repeat="parameter in operation.parameters" 
						ng-show="parameter.paramType == 'query'" >	
						<label class="col-sm-3 control-label">{{ parameter.description }}</label>
						<div class="col-sm-7">
							<input ng-show="parameter['enum'] | isEmpty" 
								type="text" class="form-control" 
								ng-required="parameter.required" ng-model="methvm.request[parameter.name]">
					    	<select class="form-control" ng-hide="parameter['enum'] | isEmpty"
					    		ng-options="opt for opt in parameter['enum']" ng-model="methvm.request[parameter.name]" 
					    		ng-required="parameter.required">
					    	</select>
						</div>
						<label class="col-sm-2 control-label">
							<div class="text-left" ng-if="parameter.required">required</div>
							<div class="text-left" ng-if="!parameter.required">optional</div>
						</label>
					</div>
					<!-- @TODO here we add a directive if paramType is body (getVOTableUrl) -->
			</div>
		</div>
	</div>
	<user-data-dir db="{{ methvm.database.id }}"></user-data-dir>
	<div class="row">
	<div class="col-sm-12">
		<div class="btn-group-vertical">
			<div ng-show="methvm.methodsService.loading">
				<img src="/public/img/throbber.gif" alt="loading..."/>
			</div>
			<div class="error" ng-show="methvm.methodsService.showError">{{ methvm.methodsService.status }}</div>
		</div>
	</div>
</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" 
		ng-show="methvm.dropdownStatus.active != 'Choose Method'">Request Data</button>
	<button type="button" class="btn btn-primary" ng-click="methvm.saveMethods()">Close</button>
	<!-- button type="button" class="btn btn-warning" ng-click="methvm.cancelMethods()">Cancel</button-->
</div>
</form>