<div ng-show="!vm.ready" class="loading text-center">
	<img src="/public/img/layout/loading.gif" class="loadingImg" alt="loading..." />
</div>
<div class="row" ng-show="vm.ready">
	<div class="col-sm-2">&nbsp;</div>
	<div class="col-sm-2 text-center" 
		ng-repeat="database in vm.configService.config.databases" 
		ng-if="(database.type == 'simulation') && !(database.tree | isEmpty)">
		<div ng-show="vm.ready">
			<button type="button" class="btn btn-primary btn-map" 
				ui-sref="app.portal.registry({id:database.id})" 
				tooltip="Show registry of {{ database.name }}"
				ng-disabled="vm.configService.aliveMap[database.name] == false || 
					vm.configService.aliveMap[database.name] | isEmpty">
				<span style="float: left;">{{ database.name }}</span><br/>
				<img src="public/img/layout/database.png"/><br/>
				<span style="float: right;">Simulations</span>
			</button>
    	</div>
	</div>
	<div class="col-sm-2 text-center">
		<a class="btn btn-danger btn-map"
			ng-href="{{ vm.configService.config.tools[0].url }}" target="_blank"
			tooltip="Open {{ vm.configService.config.tools[0].name }} tool">
			<br/>
			<img src="public/img/layout/tool.png"/><br/>
			<span style="float:right; margin-top: 7px;">
				{{ vm.configService.config.tools[0].name }}
			</span>
		</a>
	</div>
</div>
<div class="row" ng-show="vm.ready">
	<div class="col-sm-12">&nbsp;</div>
</div>
<div class="row" ng-show="vm.ready">
	<div class="col-sm-2 text-center">
		<div ng-show="vm.ready">
			<button type="button" class="btn btn-warning btn-map"
				ui-sref="app.portal.userdata()" 
				tooltip="Show Saved Userdata">
				<img src="public/img/layout/userdata.png"/><br/>
				<span style="float:right; margin-top: 15px;">My Data</span>
			</button>
		</div>
	</div>
	<div class="col-sm-2 col-sm-offset-8 text-center">
		<a class="btn btn-danger btn-map"
			ng-href="{{ vm.configService.config.tools[1].url }}" target="_blank"
			tooltip="Open {{ vm.configService.config.tools[0].name }} tool">
			<br/>
			<img src="public/img/layout/tool.png"/><br/>
			<span style="float:right; margin-top: 7px;">
				{{ vm.configService.config.tools[1].name }}
			</span>
		</a>
	</div>
</div>
<div class="row" ng-show="vm.ready">
	<div class="col-sm-12">&nbsp;</div>
</div>
<div class="row" ng-show="vm.ready">
	<div class="col-sm-2">&nbsp;</div>
	<div class="col-sm-2 text-center" 
		ng-repeat="database in vm.configService.config.databases" 
		ng-if="(database.type == 'simulation') && !(database.methods | isEmpty)">
		<div ng-show="vm.ready">
			<button type="button" class="btn btn-success btn-map"
				ui-sref="app.portal.methods({id:database.id})" 
				tooltip="Show methods of {{ database.name }}"
				ng-disabled="vm.configService.aliveMap[database.name] == false || 
					vm.configService.aliveMap[database.name] | isEmpty">
				<span style="float: left;">{{ database.name }}</span><br/>
				<img src="public/img/layout/service.png"/><br/>
				<span style="float: right;">Data Access</span>
			</button>
    	</div>
	</div>
	<div class="col-sm-2 text-center">
		<a class="btn btn-danger btn-map" 
			ng-href="{{ vm.configService.config.tools[2].url }}" target="_blank"
			tooltip="Open {{ vm.configService.config.tools[0].name }} tool">
			<br/>
			<img src="public/img/layout/tool.png"/><br/>
			<span style="float:right; margin-top: 7px;">
				{{ vm.configService.config.tools[2].name }}
			</span>
		</a>
	</div>
</div>
