<div class="modal-header">
	<button type="button" class="close" ng-click="datavm.saveData(true)">
		<span aria-hidden="true">&times;</span>
		<span class="sr-only">Close</span>
	</button>
	<h3 class="modal-title">My Data</h3>
</div>
<div class="modal-body">
	<div ng-show="datavm.initialising" class="text-left">
		<img src="/public/img/layout/loading.gif" class="loadingImg-sm" alt="loading..." />
	</div>	
	<h4>Upload VOTable files</h4>
	<input type="file" ng-file-select="datavm.onFileSelect($files)" accept="text/xml,application/x-votable+xml" multiple onclick="this.value=null">
	<div ng-show="datavm.selectedFiles != null" class="margin-t-10">
		<div class="sel-file row" ng-repeat="f in datavm.selectedFiles">
			<div class="progress" ng-show="datavm.progress[$index] >= 0" style="">					
				<div class="progress-bar" role="progressbar" aria-valuenow="{{datavm.progress[$index]}}" 
					aria-valuemin="0" aria-valuemax="100" style="width:{{datavm.progress[$index]}}%">{{datavm.progress[$index]}}%</div>
			</div>
			<div class="file-info">
				<span>{{ f.name }} - size: {{ f.size }}B - type: {{ f.type }}</span>
			</div>
		</div>
	</div>
	<user-data-dir></user-data-dir>
</div>