<div class="modal-header">
	<button type="button" class="close" ng-click="datavm.saveData()">
		<span aria-hidden="true">&times;</span>
		<span class="sr-only">Close</span>
	</button>
	<h3 class="modal-title">My Data</h3>
</div>
<div class="modal-body">
	<div ng-show="datavm.initialising" class="text-left">
		<img src="/public/img/layout/loading.gif" class="loadingImg-sm" alt="loading..." />
	</div>	
	<h4>Upload VOTable files</h4>
	<input type="file" ng-file-select="datavm.onFileSelect($files)" accept="text/xml" multiple onclick="this.value=null">
	<div ng-show="datavm.selectedFiles != null" style="margin-top: 5px;">
		<div class="sel-file" ng-repeat="f in datavm.selectedFiles">
			<span class="progress" ng-show="datavm.progress[$index] >= 0">					
				<div style="width:{{datavm.progress[$index]}}%">{{datavm.progress[$index]}}%</div>
			</span>
			<span class="fileinfo">{{ f.name }} - size: {{ f.size }}B - type: {{ f.type }}</span>
		</div>
	</div>
	<user-data-dir></user-data-dir>
</div>