<!DOCTYPE html>
<html lang="en" ng-app="portal" data-framework="typescript" >
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
<!-- introduce minified versions later (including own library) -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")"/>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/tree-control.css")"/>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/portal.css")"/>

</head>
<body>
	<div class="container"><!-- INDEX CONTAINER -->
		<div class="row head"><!-- HEADER CONTAINER -->
			<div class="col-sm-offset-2 col-sm-8">
			</div>
		</div>
		<div class="row"><!-- NG-VIEW WRAPPER -->
			<div class="col-sm-12">
			    <div ng-view></div>
			</div>
		</div>
	</div>
	<footer id="footer">
	    <!-- introduce minified versions later (including own library) -->
		<script src="@routes.Assets.at("js/libs/jquery.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("js/libs/angular.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("js/libs/angular-route.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/libs/angular-resource.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("js/libs/fastclick.js")" type="text/javascript"></script>		
		<script src="@routes.Assets.at("js/libs/bootstrap.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("js/libs/angular-tree-control.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("js/app.js")" type="text/javascript"></script>
		<script type="text/javascript">
			window.addEventListener('load', function() {
			    FastClick.attach(document.body);
			}, false);
		</script>
	</footer>
</body>
</html>